ul{
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  background-color: gray;
}
li{
  float: left;
  padding: 10px;
}
a{
  color: white;
}
// class="p-4 border-4 bg-gray-200"
